################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/out/build
/.vs
/pc3/.idea
/pc3/cmake-build-debug